{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-console": 1,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}